@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap%27";
* {

}

html, body {
    background: #b2dfdb;
}
.root {
    max-width: 900px;
}

.home-screen {
    background-image: url("assets/HomeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-screen, .contacts-screen {
    min-height: 70vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    border-top: 1px solid #454d55;
    border-bottom: 2px solid #454d55;
    border-right: 2px solid #454d55;
    border-left: 2px solid #454d55;
}

.home-screen .btn {
    font-size: 15px;
}
.contacts-screen {
    background-image: url("assets/contacts.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

.contacts-screen i{
    font-size: 20px;
    margin-right: 5px;
}

.contacts-screen a{
    text-decoration: none;
    color: white;
}

.contacts-screen li{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    list-style-type: none;
}

.home-screen h1, .contacts-screen h1{
    font-size: 24px;
    color: white;
    letter-spacing: 2px;
}

.navbar {
    padding: 5px 5px;
    border-left: 2px solid #454d55;
    border-right: 2px solid #454d55;
}

a {
    cursor: pointer;
}


